<!DOCTYPE html>
<html lang="en">
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #0b9404;
    }
</style>
<body>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/time">Time</a></li>
    <li><a href="#contact">Contact</a></li>
    <li style="float:right"><a class="active" href="#exit">Exit</a></li>
</ul>
<h3>Bitcoin: {{ bitcoin_price }} USD</h3>
<h3>Time: {{ time }}</h3>
</body>
</html>