{% extends 'base.html' %}

{% block page_name_positon %}
    News
{% endblock %}

{% block data_position %}
    <h2>News in Belarus</h2>
    <h3>1. Правительство Беларуси утвердило план мероприятий по противодействию коронавирусу на 2023 год.</h3>
    <h3>2. Беларусь закупит у России более 2 миллионов тонн нефти в мае.</h3>
    <h3>3. В Минске пройдет фестиваль технологий, науки и инноваций "Технофест-2023</h3>
    <h3>4. Количество зарегистрированных безработных в Беларуси сократилось до 0,8%.</h3>
    <h3>5. Беларусь и Казахстан подписали соглашение о сотрудничестве в сфере туризма.</h3>
    <h3>6. В Беларуси началась весенняя посевная кампания.</h3>
    <h3>7. Средний размер пенсии в Беларуси в апреле 2023 года составил 377 рублей.</h3>

{% endblock %}