{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block data_position %}
    <h1>Registration</h1>
    <form action="" method="post" class="form-contact">
        <p><label>Name: </label><input type="text" name="name" value="" required></p>
        <p><label>Age: </label><input type="text" name="old" value="" required></p>
        <p><label>City: </label><input type="text" name="city" value="" required></p>
        <p><label>Email: </label><input type="text" name="email" value="" required></p>
        <p><label>Password: </label><input type="password" name="psw" value="" required></p>
        <p><label>Repeat password: </label><input type="password" name="psw2" value="" required></p>
        <p><input type="submit" value="Registration"></p>
    </form>
{% endblock %}

